{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <h1 class="display-5">Create new produit</h1>

    {{ include('produit/_form.html.twig') }}
    <a class="btn btn-outline-primary" href="{{ path('produit_index') }}">Back to list</a>

{% endblock %}
